
@media (min-width: 992px) {
  .alto-100 {
    height: 100vh;
  }
}

.pendiente {
  background-color: #F8B400;
}

.urgente {
  background-color: #F55353;
}

.bg-hover:hover {
  background-color: #9C0F48;
  transition: all 1s ease;
}
